<html>
    <head>
        {# 
        
            This is a comment - it won't show up in the HTML.

            Templates allow us to dynamically generate HTML - this file will be 
            interpreted and the output will be sent to the browser.  View the page 
            source in your browser to see what actually comes through.
            
            The line below inserts the "page_title" variable into the HTML output.
            
        #}
        <title>{{page_title}}</title>
    </head>
    <body>
        <header>{#
            
            We can use if statements inside of templates, too. Note that the code
            in between the curly braces is not displayed to the user in the HTML; 
            this code will show "HTML Samples" as a page heading if no page_title
            is defined, and if page_title is defined - let's say as "My Title" - 
            will show "HTML Samples: My Title"
            
            #}
            <h1>HTML Samples{% if page_title %}: {{page_title}}{% endif %}</h1>
        </header>
        <nav>
            <a href="links.html">Link Samples</a>
            <a href="images.html">Image Samples</a>
            <a href="lists.html">List Samples</a>
            <a href="sections.html">Section Samples</a>
            <a href="tables.html">Table Samples</a>
            <a href="forms.html">Form Samples</a>
        </nav>
        <section>{#
            
            A "block" can be replaced when we render this template. When we extend
            this template, the "content" block in that template will replace what 
            is below.
            
            #}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
