{% extends '_base.html' %}
{% block content %}
Images should have a few attributes set.
You should minimally set the alt, width, and height attributes.<br>
<img src="/s/slides_header.png" alt="header for slides" width="1133" height="361"><br><br>
<img src="/s/gae-logo.png" alt="app engine logo" width="237" height="211"><br><br>
You can also use width and height to warp / resize (though this isn't a great way to do it).
<br><br>
<img src="/s/slides_header.png" alt="header for slides" width="500" height="361">
{% endblock %}