{% extends '_base.html' %}
{% block content %}
<p id="top">
    Links
</p>
<a href="http://amazon.com">This is a link to a website.</a>
<br>
<a href="tables.html">This is a link to another page on this website.</a>
<br>
<a href="tables.html" target="_blank">
    This is a link to another page on this website, but it in a new window.
</a>
<br>
<a href="/s/lists.html">
    This is an <strong>absolute</strong> link to another page on this website.
</a>
<br>
<em>
    Note that it won't work now that we're using templates. Try
    <a href="/lists.html">this absolute link</a> instead.
</em>
<br>
<a href="#bottom">This is a link to an ID at the bottom of the page.</a>
<p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
<p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
<p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
<p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
<p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
<p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
<p id="bottom">
    This is the bottom of the page.
</p>
<p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
<a href="#top">This is a link back to the top.</a>
<p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p><p>.</p>
{% endblock %}