{% extends '_base.html' %}
{% block content %}
<section>
    This is a section.
</section>
<section>
    This is another section.
    <div>This is a div inside of the section.</div>
    <div>This is another div inside of the section.</div>
</section>
<article>
    This is an article.
    <span>This is a span inside the article</span>
    <span>This is a 2nd span inside the article.</span>
</article>
<aside>
    This is an aside.
</aside>
<footer>
    This is the footer.
    <p>
        <em>This is a bit disappointing, isn't it?</em>
    </p>
</footer>
{% endblock %}