<html>
    <head>
        <title>JavaScript Examples</title>
        <link rel="stylesheet" href="/s/style.css">
        <script src="/s/script001.js">
        </script>
    </head>
    <body>
        <h1>JavaScript Examples</h1>
        <nav>
            <a href="functions.html">Functions</a>
            <a href="operators.html">Operators</a>
            <a href="boolean-operators.html">Boolean Operators</a>
            <a href="strings.html">Strings</a>
            <a href="variables.html">Variables</a>
            <a href="types.html">Types</a>
            <a href="if-statements.html">If Statements</a>
            <a href="while-loops.html">While Loops</a>
            <a href="for-loops.html">For Loops</a>
            <a href="arrays.html">Arrays</a>
            <a href="maps.html">Maps</a>
            <a href="objects.html">Objects</a>
            <a href="dates.html">Dates</a>
            <a href="sandwiches.html">Sandwiches</a>
            <a href="cow-clicker.html">Cow Clicker</a>
            <a href="cow-dragger.html">Cow Dragger</a>
        </nav>
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
