{% extends '_base.html' %}
{% block content %}

<button onclick="firstFunction();">Slide 21: First Function</button>
<button onclick="alert('secondFunction returned ' + secondFunction());">Slide 21: Second Function</button>
<button onclick="alert('thirdFunction returned ' + thirdFunction(2, 3, 4));">Slide 21: Third Function</button>
<button onclick="alert('fourthFunction returned ' + fourthFunction());">Slide 21: Fourth Function</button>
<button onclick="alert('fourthFunction returned ' + fourthFunction(7, 9));">Slide 21: Fourth Function with 2 parameters</button>

{% endblock %}
